/* Ensure the footer spans the full width */
#contact {
    width: 100%;
    background-color: #0f0641; /* Adjust background color as needed */
    padding:0;
    
}

.cu{
    color: white;
    text-align: center;
    margin: 20px 0;
}

/* Style adjustments for the footer content */
.fContainer1, .fContainer2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fBox1, .fBox2, .fBox3 {
    flex: 1 1 20px;
    margin: 0;
    text-align: center;
    margin: 15px 0;
    color: white;

}

.fIcon1, .fIcon2 {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}

hr {
    width: 90%;
    margin: 0px auto;
    border: 1px solid #ccc;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .fContainer1, .fContainer2 {
        flex-direction: column;
        align-items: center;
    }

    .fBox1, .fBox2, .fBox3 {
        text-align: center;
        color: white;
    }
    .fIcon1, .fIcon2 {
        font-size: 3px;
        margin-right: 10px;
    }
    
}
