/* Resetting default margins and paddings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 14px;
    width: 100%;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.menu-icon {
    display: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

/* Home container styling */
.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 3, 53);
    color: #fff;
    box-sizing: border-box;
}

/* Hero section styling */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-heading {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-subheading {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.h{
    font-size: 4rem;
    margin-bottom: 7px;
}

.hero-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #0056b3;
}

/* Responsive Design */

/* Adjustments for tablets */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar a {
        padding: 10px;
    }

    .hero-heading {
        font-size: 2.5rem;
    }

    .hero-subheading {
        font-size: 1rem;
    }

    
    .h{
        font-size: 3.2rem;
        margin-bottom: 7px;
    }


    .hero-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
}

/* Adjustments for mobile devices */
@media screen and (max-width: 480px) {
    .hero-heading {
        font-size: 2rem;
    }

    .hero-subheading {
        font-size: 0.875rem;
    }

    
    .h{
        font-size: 2.5rem;
        margin-bottom: 7px;
    }

    .hero-button {
        font-size: 0.875rem;
        padding: 6px 12px;
    }
}
